{%extends "layout.html"%}

{% block content%}

<h1>Administrar Candidatos</h1>

<select class="form-select w-25 p-3" aria-label="Default select example" "w-25 p-3">
    <option selected>Selecciona Vacante</option>
    <option value="1">Auxiliar Mantenimiento</option>
    <option value="2">Auxiliar Almacen</option>
    <option value="3">Auxiliar Contable</option>
  </select>

  <table class="table table-borderless table-light w-50 p-3">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">ID</th>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Vacante</th>
        <td></td>
        <td></td>

      </tr>
      <tr>
        <th scope="row">Fecha</th>
        <td colspan="2"></td>
      </tr>
      <tr>
        <th scope="row">Descripcion</th>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>


  <table class="table table-light table-borderless  w-50 p-3 caption-top" >
      <div class=text-white>
      <caption "text-white">Historial de mensajes</caption>
      </div>
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Mensaje</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        
        <td></td>
        <td></td>
        
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>

  <table class="table table-light table-borderless w-25 p-3 caption-top">
    <caption>Postulantes</caption>  
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><td>
        <td></td>
      </tr>
    </tbody>
  </table>

{%endblock%}