{%extends "layout.html" %}

{% block content%}

<div class="Postulante">
    <h3>Postulante</h3>
</div>
<div class="form-floating">
    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Nombre del Postulante</label>

</div>
<button type="button" class="btn btn-danger">Ver KARDEX</button>
<div class="Vacante">
    <h3>Vacante</h3>
</div>
<div class="Respuesta">
    <h3>Seleccionar Respuesta</h3>
</div>
<div class="Vacante2">
    <h1><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </h1>
</div>
<div class="Respuesta1">
    <h5>Hola (Nombre),Nos complace informarte que te haremos una entrevista proximamente</h5>
</div>
<div class="Respuesta2">
    <h5>Hola (Nombre),En este momento tu kardex no tiene el perfil que buscamos.Te agradecemos...</h5>
</div>
<div class="Respuesta3">
    <h5>Hola (Nombre),Tu registro de puntualidad no permite aplicar para este puesto.</h5>
</div>
<div class="Respuesta4">
    <h5>Hola (Nombre),Tu historial academico no califica para este puesto.</h5>
</div>
<div class="form-floating2">
    <textarea class="form-control" placeholder="Mensaje Perzonalizado" id="floatingTextarea"></textarea>
    <label for="floatingTextarea"></label>
</div>
<button type="button" class="btn1 btn-outline-secondary">ENVIAR</button>
<button type="button" class="btn2 btn-outline-secondary">ENVIAR</button>
<button type="button" class="btn3 btn-outline-secondary">ENVIAR</button>
<button type="button" class="btn4 btn-outline-secondary">ENVIAR</button>
<button type="button" class="btn5 btn-outline-secondary">ENVIAR</button>

{%endblock%}