{%extends "layout.html" %}

{% block content%}

<div class="position-relative">
  <h1>Administrar Vacantes</h1>
  </div>
  <div class="d-grid gap-4 col-1 position-absolute top-50 start-10 translate-middle">
      <button class="btn btn-light" type="button">Ver Vacantes</button>
      <button class="btn btn-light" type="button">Agregar Vacantes</button>
      <button class="btn btn-light" type="button">Eliminar Vacantes</button>
      <button class="btn btn-light" type="button">Editar Vacante</button>
    </div>
  
    <table class="table table-warning table-borderless position-absolute top-50 start-50 translate-middle caption-top w-50 p-3 ">
        <caption>Vacantes</caption>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Vacante</th>
          <th scope="col">Fecha</th>
          <th scope="col">Originador</th>
          <th scope="col">Descripcion</th>
         
  
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <tr/>
          <th scope="row">4</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
          <tr>
              <th scope="row">5</th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
    </table>

    {%endblock%}