body{
    background: rgb(218,216,216);
    background: linear-gradient(90deg, rgba(218,216,216,0.7343312324929971) 100%, rgba(224,216,176,1) 100%);
}
.Postulante{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    text-align: center;
    left: 5%;
    top:  23%;
    width: 350px;
    background-color: rgb(255, 255, 255);
    
    
}
.form-floating{
    position: absolute;
    left: 5%;
    top:  32%;
    width: 350px;
    

}
.btn{
    position: absolute;
    left: 5%;
    top:  42%;
    width: px;
    background-color: #ca252b;

}
.Vacante{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    text-align: center;
    left: 25%;
    top:  23%;
    width: 800px;
    background-color: rgb(255, 255, 255);
}
.Respuesta{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    text-align: center;
    left: 68.5%;
    top:  23%;
    width: 500px;
    background-color: rgb(255, 255, 255);

}
.Vacante2{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    height: 600px;
    left: 25%;
    top:  32%;
    width: 800px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 5px,5px,5px rgb(0, 0, 0);
}
.Respuesta1{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    left: 68.5%;
    top:  32%;
    width: 500px;
    height: 75px;
    background-color: rgb(255, 255, 255);
}
.Respuesta2{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    left: 68.5%;
    top:  44%;
    width: 500px;
    height: 75px;
    background-color: rgb(255, 255, 255);
}
.Respuesta3{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    left: 68.5%;
    top:  56%;
    width: 500px;
    height: 75px;
    background-color: rgb(255, 255, 255);
}
.Respuesta4{
    position: absolute;
    border-color: #ca252b;
    border-style: solid;
    left: 68.5%;
    top:  68%;
    width: 500px;
    height: 75px;
    background-color: rgb(255, 255, 255);
}
.form-floating2{
    position: absolute;  
    left: 68.5%;
    top:  80%;
    width: 500px;
    height: 75px;
    
}
.btn1{
    position: absolute;
    left:95%;
    top:  34.5%;
}
.btn2{
    position: absolute;
    left:95%;
    top:  46.5%;
}
  
.btn3{
    position: absolute;
    left:95%;
    top:  58.5%;
}
  
.btn4{
    position: absolute;
    left:95%;
    top:  70.5%;
}
  
.btn5{
    position: absolute;
    left:95%;
    top:  82.5%;
}
  
    
    
    
    
