{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
          <form action="/update/{{contact.0}}" method="POST">
            <div class="form-group">
              <input type="text" class="form-control" name="vacante" placeholder="Vacante">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="descripcion" placeholder="Descripcion">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="originario" placeholder="Originario">
            </div>
            <button class="btn btn-primary btn-block">
              Actualizar
            </button>
          </form>
        </div>
      </div>
      </div>
    </div>
  </div>

{% endblock %}