{%extends "layout.html"%} 

{% block content%}
<div class="mx-auto">
<h1>Actividad Reciente</h1>
</div>
<div class="d-grid gap-4 col-1 position-absolute top-50 start-10 translate-middle">
    <button class="btn btn-danger" type="button">Nuevas</button>
    <button class="btn btn-danger" type="button">Empleado</button>
    <button class="btn btn-danger" type="button">Vacante</button>
    <button class="btn btn-danger" type="button">Fecha</button>
    <button class="btn btn-danger" type="button">Palabra Clave</button>
  </div>

  <table class="table table-light table-bordered position-absolute top-50 start-50 translate-middle caption-top w-50 p-3 ">
      <caption>Vacantes</caption>
    <thead>
      <tr>
        <th scope="col">N.Empleado</th>
        <th scope="col">Nombre</th>
        <th scope="col">ID</th>
        <th scope="col">Area</th>
        <th scope="col">Vacante</th>
        <th scope="col">Fecha</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <tr/>
        <tr>
        <th scope="row">4</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td
        </tr>
        <tr>
            <th scope="row">5</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
  </table>




{%endblock%}